{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'images/PetParadise.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="{% static 'images/PetParadise.svg' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/care.css' %}" />
    <title>Care</title>
    <style>
      body {
        background: url(../static/images/body-1.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <!-- Navigation Bar Start -->
    <section class="section-navbar">
      <nav>
        <div class="logo">
          <a href="/"
            ><img src="{% static 'images/PetParadise.svg' %}" alt="Logo Image"
          /></a>
        </div>
        <div class="navbar">
          <ul>
            {% if user.is_authenticated %}
            <li><a href="" class="no-hover">Hi, {{user.username}}</a></li>
            {% endif %}
            <li><a href="/">Home🏠</a></li>
            <li><a href="/explore">Explore🤯</a></li>
            <li>
              <a href="/care">Care😇</a>
            </li>
            {% if user.is_authenticated %}
            <li><a href="/">Dashboard</a></li>
            <li><a href="/logout">Logout❕</a></li>
            {% else %}
            <li><a href="/ownersignin">Pet-Owner😎</a></li>
            <li><a href="/doctorsignin">Pet-Doctor🥼</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </section>
    <!-- Navigation Bar End -->

    <div class="main-content">

      <!-- food section start -->
      <section class="care-section" id="care-section">
        <div class="care-section-details">
          <div class="care-section-title">
            <h1>Food😋</h1>
          </div>
          <div class="care-section-image">
            <a href="https://www.flipkart.com/purina-supercoat-puppy-dry-dog-food-chicken-2-kg-new-born/p/itma1597d4f8f94c?pid=PFDFJ3FVZU5PMSRK&lid=LSTPFDFJ3FVZU5PMSRK6NGRCJ&marketplace=FLIPKART&q=dog+food&store=p3t%2Fea3%2F8zj&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=en_6Q14qkq1KyK9CljQBxAjt4doA3Ea6yHr49q7AON5ftoIU6sqXiLBaI%2FwVhRfycWXc33267Qe8E3zLv%2BZPfa2pA%3D%3D&ppt=sp&ppn=sp&ssid=wrv67k5o8w0000001633931356934&qH=c53c2ce8b3bccaa1" target="_blank"><img src="{% static 'images/food-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/whiskas-kitten-2-12-months-fish-1-1-kg-dry-young-cat-food/p/itmc004f084c8458?pid=PFDEG58ZUAKS5DHE&lid=LSTPFDEG58ZUAKS5DHEZBFAO2&marketplace=GROCERY&q=cat+food&store=p3t%2F0mo%2Foiv&srno=s_1_3&otracker=search&otracker1=search&fm=SEARCH&iid=83564c88-1604-4994-a568-11597900bf59.PFDEG58ZUAKS5DHE.SEARCH&ppt=sp&ppn=sp&ssid=1wvtoh6ukw0000001633931480383&qH=1f38ae66827779c2" target="_blank"><img src="{% static 'images/food-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/smart-heart-adult-veggie-cereals-vegetable-1-kg-dry-adult-young-rabbit-food/p/itmcbc736a97acf4?pid=PFDG5W3ETXHEEWKN&lid=LSTPFDG5W3ETXHEEWKN9AVJUL&marketplace=FLIPKART&q=rabbit+food&store=p3t%2Fqxs%2Faog&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d3fa538b-e875-4594-b3cc-ff1940115116.PFDG5W3ETXHEEWKN.SEARCH&ppt=sp&ppn=sp&ssid=ob575xxoq80000001633931495129&qH=b0735ed36a660720" target="_blank"><img src="{% static 'images/food-rabbit.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/arokya-arokya-pigeon-breeding-mix-food-1kg-nuts-1-kg-dry-young-bird/p/itm60048b7787112?pid=PFDFXQXG6QPZ7MGZ&lid=LSTPFDFXQXG6QPZ7MGZRT5JTI&marketplace=FLIPKART&q=pigeon+food&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=7710214c-05ec-48f7-8f2a-d9b969cdba85.PFDFXQXG6QPZ7MGZ.SEARCH&ppt=sp&ppn=sp&ssid=640ljby4u80000001633931504897&qH=8cd1738f03867828" target="_blank"><img src="{% static 'images/food-pigeon.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/taiyo-turtle-food-premium-quality-100-grams-added-spirulina-0-1-kg-dry-adult-new-born-young/p/itma7ba0c7175dac?pid=PFDFTU2MYD7FE2UY&lid=LSTPFDFTU2MYD7FE2UYWCNWNY&marketplace=FLIPKART&q=animal+food&store=p3t&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=ca2e8d72-ed40-4e72-9950-db104754d1e4.PFDFTU2MYD7FE2UY.SEARCH&ppt=sp&ppn=sp&ssid=t7ouw31bls0000001633931551735&qH=ffd51481c46854f1" target="_blank"><img src="{% static 'images/food-turtle.jpeg' %}" alt="Animal Image" /></a>
          </div>
          <div class="care-section-btn">
            <h3>see more..</h3>
            <a href="/food"><i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </section>
      <!-- food section end -->

      <!-- Products section start -->
      <section class="care-section" id="care-section">
        <div class="care-section-details">
          <div class="care-section-title">
            <h1>Products⭐</h1>
          </div>
          <div class="care-section-image">
            <a href="https://www.flipkart.com/emily-pets-t-shirt-dog-cat/p/itma57814bbfaf6c?pid=PEAG5ZNMFGJ3TZWY&lid=LSTPEAG5ZNMFGJ3TZWYBW6DKU&marketplace=FLIPKART&q=dog+shirt&store=p3t%2Fea3%2F89f&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=2c614f02-e94c-45b0-933c-1c011fbb8157.PEAG5ZNMFGJ3TZWY.SEARCH&ppt=sp&ppn=sp&ssid=br2t23m5ow0000001633932130101&qH=7ad29818a4cea8ad" target="_blank"><img src="{% static 'images/product-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/body-building-nylon-dog-belt-combo-black-red-ghungroo-collar-lead-1-5m-lengthy-leash/p/itmad80769043dba?pid=PCLFTBV5RVANGYCG&lid=LSTPCLFTBV5RVANGYCGVWWZRW&marketplace=FLIPKART&q=dog+belt&store=p3t%2Fea3%2Fb1n&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=151b9c0a-ee04-4948-a7f3-84d2e4ea0d2e.PCLFTBV5RVANGYCG.SEARCH&ppt=sp&ppn=sp&ssid=87smdy23i80000001633932250202&qH=d50ee726e671fbec" target="_blank"><img src="{% static 'images/product-dog-1.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/rk-products-dc31-m-pet-bed/p/itm2d2c8ff72c43a?pid=PEBFKN3SJGQTGDZN&lid=LSTPEBFKN3SJGQTGDZNYTWH2F&marketplace=FLIPKART&q=cat+products&store=p3t%2F0mo%2Fmg7&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_na&fm=SEARCH&iid=7e04d4be-aeae-48d7-b211-84eadbf1a66d.PEBFKN3SJGQTGDZN.SEARCH&ppt=sp&ppn=sp&ssid=93wagc18v40000001633932325052&qH=fe860721d438d16f" target="_blank"><img src="{% static 'images/product-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/pet-life-organic-dry-bath-shampoo-small-pets-rabbits-kitten-dry-waterless-spray-made-natural-ingredients-cleaner-smoother-shinier-coat-whitening-color-enhancing-lemon-rabbit/p/itmcc8aa62bbad8e?pid=PSOG4CY7SQJ344FH&lid=LSTPSOG4CY7SQJ344FHZ4PSOX&marketplace=FLIPKART&q=rabbit+products&store=p3t%2Fixl%2Fosh&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_1_11_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_11_na_na_na&fm=SEARCH&iid=6325f4aa-be78-4b4a-ace4-2f5c4150559c.PSOG4CY7SQJ344FH.SEARCH&ppt=sp&ppn=sp&ssid=yftxhtcl8w0000001633932394076&qH=0786f370647f9673" target="_blank"><img src="{% static 'images/product-rabbit.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/jainsons-pet-products-grooming-brush-effectively-reduces-shedding-up-95-professional-deshedding-tool-dogs-cats-slicker-brushes-cat-dog/p/itm08e4f240e7432?pid=PCBG7A78UZM7WWFR&lid=LSTPCBG7A78UZM7WWFRTLMVPK&marketplace=FLIPKART&q=dog+products&store=p3t%2Fixl%2F770&srno=s_1_8&otracker=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_na&fm=SEARCH&iid=43598321-d522-4328-a7f7-dcc1504c0967.PCBG7A78UZM7WWFR.SEARCH&ppt=sp&ppn=sp&ssid=61y3w0nps00000001633932470358&qH=74a168f2a6b7cd4d" target="_blank"><img src="{% static 'images/product-dog-2.jpeg' %}" alt="Animal Image" /></a>
          </div>
          <div class="care-section-btn">
            <h3>see more..</h3>
            <a href="/products"><i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </section>
      <!-- Products section end -->

      <!-- Medicine section start -->
      <section class="care-section" id="care-section">
        <div class="care-section-details">
          <div class="care-section-title">
            <h1>Medicine💊</h1>
          </div>
          <div class="care-section-image">
            <a href="https://www.flipkart.com/pet-care-worm-trap-p-oral-suspension-puppies-15ml-pack-2-first-aid-kit/p/itmfgc5kheedygdz?pid=PAIFGBPEGHTHNTER&lid=LSTPAIFGBPEGHTHNTERKUC1IC&marketplace=FLIPKART&q=dog+medicine&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=d6ec1ce9-ed83-4d03-a2a9-e2aae3b90484.PAIFGBPEGHTHNTER.SEARCH&ppt=sp&ppn=sp&ssid=s3orbtr5v40000001633932711043&qH=0ff59db0da431e95" target="_blank"><img src="{% static 'images/medicine-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/venky-s-kc-guard-antiseptic-anti-itchspray-enriched-vitamin-e-lemongrass-fragrance-100-ml-pet-first-aid-kit/p/itm8d9ae27c98cf7?pid=PAIFZWVV884RN8AH&lid=LSTPAIFZWVV884RN8AHY9O6HF&marketplace=FLIPKART&q=dog+medicine&store=search.flipkart.com&srno=s_1_4&otracker=search&otracker1=search&fm=SEARCH&iid=d6ec1ce9-ed83-4d03-a2a9-e2aae3b90484.PAIFZWVV884RN8AH.SEARCH&ppt=sp&ppn=sp&ssid=s3orbtr5v40000001633932711043&qH=0ff59db0da431e95" target="_blank"><img src="{% static 'images/medicine-dog-1.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/vetoquinol-dermichlor-medicated-topical-spray-100ml-dogs-puppies-cats-pet-first-aid-kit/p/itmeefc8d3a612b3?pid=PAIFYTQATY2BQEXC&lid=LSTPAIFYTQATY2BQEXC1YQ93A&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIFYTQATY2BQEXC.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/homeonest-pyrosule-pets-30ml-dogs-cats-case-hypo-hyperthermia-maintain-normal-body-temperature-exposed-excess-cold-heat-suddenly-pet-first-aid-kit/p/itm048dc5547f723?pid=PAIG7J9DAZ7RJMMK&lid=LSTPAIG7J9DAZ7RJMMKTH8K8V&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIG7J9DAZ7RJMMK.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-dog-2.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/refit-animal-care-poultry-growth-promoter-medicine-supplement-pet-health-supplements/p/itm3edce8e792c31?pid=PHSG48BGMPXU855N&lid=LSTPHSG48BGMPXU855N1GSWF7&marketplace=FLIPKART&q=animal+medicine&store=p3t%2Foci%2Fpcb&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&fm=SEARCH&iid=27410262-6e0f-46ec-ab4f-86f9c2ed90b9.PHSG48BGMPXU855N.SEARCH&ppt=sp&ppn=sp&ssid=59lso78zj40000001633932998361&qH=8751e21ec45bcc50" target="_blank"><img src="{% static 'images/medicine-hen.jpeg' %}" alt="Animal Image" /></a>
          </div>
          <div class="care-section-btn">
            <h3>see more..</h3>
            <a href="/medicine"><i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </section>
      <!-- Medicine section end -->


      <!-- Footer start -->
    <footer class="footer-section">
      <div class="footer-section-container">
        <div class="footer-section-aboutus">
          <h2>About us</h2>  
          <p>
            Pet Paradise is a startup by two engineering students dedicated for pet-lovers and animals so that we can connect them to each other and both get their deserved ones. 
          </p>
          <ul class="footer-section-socials">
           <li><a target="_blank" href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> 
           <li><a target="_blank" href="/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
           <li><a target="_blank" href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> 
           <li><a target="_blank" href="/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> 
           <li><a target="_blank" href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>    
         </ul>
        </div>
        <div class="footer-section-contact">
          <h2>Contact Info</h2>
          <ul class="footer-section-contact-info">
          <li>
            <span>
             <i class="fa fa-map-marker" aria-hidden="true"></i>   
            </span> 
            <span>
                Pet Paradise Headquarters<br> Shivaji nagar Street,<br> Ulsoor(E), Bangalore-560 007
            </span> 
          </li>
          <li>
            <span><i class="fa fa-phone" aria-hidden="true"></i></span>    
            <p><a href="tel:9892662688">9892662688</p>   
          </li>
          <li>
            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <p><a href="mailto:support@petparadise.com">support@petparadise.com</a></p>
          </li>
          </ul>
        </div>
      </div>
      <div class="copyrighttext">
        <p>©2021, All Rights Reserved by Pet Paradise</p>  
      </div>  
    </footer>
    <!-- Footer end -->
    </div>
    
  </body>
</html>
