{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'images/PetParadise.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="{% static 'images/PetParadise.svg' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
    <title>Sign in</title>
    <style>
      body {
        background: url(../static/images/body.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <!-- Sign in form start -->
    <section class="container">
      <div class="signin-container">
        <a href="/" class="sign-back-btn"><i class="fa fa-arrow-left"></i></a>
        <h1>LOGIN</h1>
        <form method="post" action="/doctorsignin" class="signin-form">
          {% csrf_token %}
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
          <button type="submit">SIGN IN</button>
        </form>
        <h5>Don't have an account? <a href="/doctorsignup">Sign up!</a></h5>
      </div>
    </section>
    <!-- Sign in form end -->
  </body>
</html>
