{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'images/PetParadise.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="{% static 'images/PetParadise.svg' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <title>Sign up</title>
    <style>
      body {
        background: url(../static/images/body-1.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <!-- Sign in form start -->
    <section class="container">
      <div class="signin-container">
        <a href="/" class="sign-back-btn"><i class="fa fa-arrow-left"></i></a>
        <h1>REGISTER</h1>
        <form method="post" action="/doctorsignup" class="signin-form">
          {% csrf_token %}
          <input
            type="text"
            id="yourname"
            name="yourname"
            autofocus
            placeholder="Your name"
            required
          />
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required
          />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
          <input
            type="tel"
            id="contact"
            name="contact"
            placeholder="Number"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
          <input
            type="password"
            id="password1"
            name="password1"
            placeholder="Confirm Password"
            required
          />
          <button class="submit-btn" type="submit">SIGN UP</button>
        </form>
        <h5>Already have an account? <a href="/ownersignin">Sign in!</a></h5>
      </div>
    </section>
    <!-- Sign in form end -->
  </body>
</html>
