{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'images/PetParadise.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="{% static 'images/PetParadise.svg' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/care.css' %}" />
    <title>Food</title>
    <style>
      body {
        background: url(../static/images/body-1.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <!-- Navigation Bar Start -->
    <section class="section-navbar">
      <nav>
        <div class="logo">
          <a href="/"
            ><img src="{% static 'images/PetParadise.svg' %}" alt="Logo Image"
          /></a>
        </div>
        <div class="navbar">
          <ul>
            {% if user.is_authenticated %}
            <li><a href="" class="no-hover">Hi, {{user.username}}</a></li>
            {% endif %}
            <li><a href="/">Home🏠</a></li>
            <li><a href="/explore">Explore🤯</a></li>
            <li>
              <a href="/care">Care😇</a>
            </li>
            {% if user.is_authenticated %}
            <li><a href="/">Dashboard</a></li>
            <li><a href="/logout">Logout❕</a></li>
            {% else %}
            <li><a href="/ownersignin">Pet-Owner😎</a></li>
            <li><a href="/doctorsignin">Pet-Doctor🥼</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </section>
    <!-- Navigation Bar End -->

    <div class="main-content">

      <!-- pet section start -->
      <section class="food-section" id="food-section">
        <div class="food-section-details">
          <div class="food-section-title">
            <h1>Food😋</h1>
          </div>
          <div class="food-section-image">
            <a href="https://www.flipkart.com/purina-supercoat-puppy-dry-dog-food-chicken-2-kg-new-born/p/itma1597d4f8f94c?pid=PFDFJ3FVZU5PMSRK&lid=LSTPFDFJ3FVZU5PMSRK6NGRCJ&marketplace=FLIPKART&q=dog+food&store=p3t%2Fea3%2F8zj&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=en_6Q14qkq1KyK9CljQBxAjt4doA3Ea6yHr49q7AON5ftoIU6sqXiLBaI%2FwVhRfycWXc33267Qe8E3zLv%2BZPfa2pA%3D%3D&ppt=sp&ppn=sp&ssid=wrv67k5o8w0000001633931356934&qH=c53c2ce8b3bccaa1" target="_blank"><img src="{% static 'images/food-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/whiskas-kitten-2-12-months-fish-1-1-kg-dry-young-cat-food/p/itmc004f084c8458?pid=PFDEG58ZUAKS5DHE&lid=LSTPFDEG58ZUAKS5DHEZBFAO2&marketplace=GROCERY&q=cat+food&store=p3t%2F0mo%2Foiv&srno=s_1_3&otracker=search&otracker1=search&fm=SEARCH&iid=83564c88-1604-4994-a568-11597900bf59.PFDEG58ZUAKS5DHE.SEARCH&ppt=sp&ppn=sp&ssid=1wvtoh6ukw0000001633931480383&qH=1f38ae66827779c2" target="_blank"><img src="{% static 'images/food-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/smart-heart-adult-veggie-cereals-vegetable-1-kg-dry-adult-young-rabbit-food/p/itmcbc736a97acf4?pid=PFDG5W3ETXHEEWKN&lid=LSTPFDG5W3ETXHEEWKN9AVJUL&marketplace=FLIPKART&q=rabbit+food&store=p3t%2Fqxs%2Faog&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d3fa538b-e875-4594-b3cc-ff1940115116.PFDG5W3ETXHEEWKN.SEARCH&ppt=sp&ppn=sp&ssid=ob575xxoq80000001633931495129&qH=b0735ed36a660720" target="_blank"><img src="{% static 'images/food-rabbit.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/arokya-arokya-pigeon-breeding-mix-food-1kg-nuts-1-kg-dry-young-bird/p/itm60048b7787112?pid=PFDFXQXG6QPZ7MGZ&lid=LSTPFDFXQXG6QPZ7MGZRT5JTI&marketplace=FLIPKART&q=pigeon+food&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=7710214c-05ec-48f7-8f2a-d9b969cdba85.PFDFXQXG6QPZ7MGZ.SEARCH&ppt=sp&ppn=sp&ssid=640ljby4u80000001633931504897&qH=8cd1738f03867828" target="_blank"><img src="{% static 'images/food-pigeon.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/taiyo-turtle-food-premium-quality-100-grams-added-spirulina-0-1-kg-dry-adult-new-born-young/p/itma7ba0c7175dac?pid=PFDFTU2MYD7FE2UY&lid=LSTPFDFTU2MYD7FE2UYWCNWNY&marketplace=FLIPKART&q=animal+food&store=p3t&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=ca2e8d72-ed40-4e72-9950-db104754d1e4.PFDFTU2MYD7FE2UY.SEARCH&ppt=sp&ppn=sp&ssid=t7ouw31bls0000001633931551735&qH=ffd51481c46854f1" target="_blank"><img src="{% static 'images/food-turtle.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/purina-supercoat-puppy-dry-dog-food-chicken-2-kg-new-born/p/itma1597d4f8f94c?pid=PFDFJ3FVZU5PMSRK&lid=LSTPFDFJ3FVZU5PMSRK6NGRCJ&marketplace=FLIPKART&q=dog+food&store=p3t%2Fea3%2F8zj&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=en_6Q14qkq1KyK9CljQBxAjt4doA3Ea6yHr49q7AON5ftoIU6sqXiLBaI%2FwVhRfycWXc33267Qe8E3zLv%2BZPfa2pA%3D%3D&ppt=sp&ppn=sp&ssid=wrv67k5o8w0000001633931356934&qH=c53c2ce8b3bccaa1" target="_blank"><img src="{% static 'images/food-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/whiskas-kitten-2-12-months-fish-1-1-kg-dry-young-cat-food/p/itmc004f084c8458?pid=PFDEG58ZUAKS5DHE&lid=LSTPFDEG58ZUAKS5DHEZBFAO2&marketplace=GROCERY&q=cat+food&store=p3t%2F0mo%2Foiv&srno=s_1_3&otracker=search&otracker1=search&fm=SEARCH&iid=83564c88-1604-4994-a568-11597900bf59.PFDEG58ZUAKS5DHE.SEARCH&ppt=sp&ppn=sp&ssid=1wvtoh6ukw0000001633931480383&qH=1f38ae66827779c2" target="_blank"><img src="{% static 'images/food-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/smart-heart-adult-veggie-cereals-vegetable-1-kg-dry-adult-young-rabbit-food/p/itmcbc736a97acf4?pid=PFDG5W3ETXHEEWKN&lid=LSTPFDG5W3ETXHEEWKN9AVJUL&marketplace=FLIPKART&q=rabbit+food&store=p3t%2Fqxs%2Faog&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d3fa538b-e875-4594-b3cc-ff1940115116.PFDG5W3ETXHEEWKN.SEARCH&ppt=sp&ppn=sp&ssid=ob575xxoq80000001633931495129&qH=b0735ed36a660720" target="_blank"><img src="{% static 'images/food-rabbit.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/arokya-arokya-pigeon-breeding-mix-food-1kg-nuts-1-kg-dry-young-bird/p/itm60048b7787112?pid=PFDFXQXG6QPZ7MGZ&lid=LSTPFDFXQXG6QPZ7MGZRT5JTI&marketplace=FLIPKART&q=pigeon+food&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=7710214c-05ec-48f7-8f2a-d9b969cdba85.PFDFXQXG6QPZ7MGZ.SEARCH&ppt=sp&ppn=sp&ssid=640ljby4u80000001633931504897&qH=8cd1738f03867828" target="_blank"><img src="{% static 'images/food-pigeon.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/taiyo-turtle-food-premium-quality-100-grams-added-spirulina-0-1-kg-dry-adult-new-born-young/p/itma7ba0c7175dac?pid=PFDFTU2MYD7FE2UY&lid=LSTPFDFTU2MYD7FE2UYWCNWNY&marketplace=FLIPKART&q=animal+food&store=p3t&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=ca2e8d72-ed40-4e72-9950-db104754d1e4.PFDFTU2MYD7FE2UY.SEARCH&ppt=sp&ppn=sp&ssid=t7ouw31bls0000001633931551735&qH=ffd51481c46854f1" target="_blank"><img src="{% static 'images/food-turtle.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/purina-supercoat-puppy-dry-dog-food-chicken-2-kg-new-born/p/itma1597d4f8f94c?pid=PFDFJ3FVZU5PMSRK&lid=LSTPFDFJ3FVZU5PMSRK6NGRCJ&marketplace=FLIPKART&q=dog+food&store=p3t%2Fea3%2F8zj&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=en_6Q14qkq1KyK9CljQBxAjt4doA3Ea6yHr49q7AON5ftoIU6sqXiLBaI%2FwVhRfycWXc33267Qe8E3zLv%2BZPfa2pA%3D%3D&ppt=sp&ppn=sp&ssid=wrv67k5o8w0000001633931356934&qH=c53c2ce8b3bccaa1" target="_blank"><img src="{% static 'images/food-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/whiskas-kitten-2-12-months-fish-1-1-kg-dry-young-cat-food/p/itmc004f084c8458?pid=PFDEG58ZUAKS5DHE&lid=LSTPFDEG58ZUAKS5DHEZBFAO2&marketplace=GROCERY&q=cat+food&store=p3t%2F0mo%2Foiv&srno=s_1_3&otracker=search&otracker1=search&fm=SEARCH&iid=83564c88-1604-4994-a568-11597900bf59.PFDEG58ZUAKS5DHE.SEARCH&ppt=sp&ppn=sp&ssid=1wvtoh6ukw0000001633931480383&qH=1f38ae66827779c2" target="_blank"><img src="{% static 'images/food-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/smart-heart-adult-veggie-cereals-vegetable-1-kg-dry-adult-young-rabbit-food/p/itmcbc736a97acf4?pid=PFDG5W3ETXHEEWKN&lid=LSTPFDG5W3ETXHEEWKN9AVJUL&marketplace=FLIPKART&q=rabbit+food&store=p3t%2Fqxs%2Faog&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d3fa538b-e875-4594-b3cc-ff1940115116.PFDG5W3ETXHEEWKN.SEARCH&ppt=sp&ppn=sp&ssid=ob575xxoq80000001633931495129&qH=b0735ed36a660720" target="_blank"><img src="{% static 'images/food-rabbit.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/arokya-arokya-pigeon-breeding-mix-food-1kg-nuts-1-kg-dry-young-bird/p/itm60048b7787112?pid=PFDFXQXG6QPZ7MGZ&lid=LSTPFDFXQXG6QPZ7MGZRT5JTI&marketplace=FLIPKART&q=pigeon+food&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=7710214c-05ec-48f7-8f2a-d9b969cdba85.PFDFXQXG6QPZ7MGZ.SEARCH&ppt=sp&ppn=sp&ssid=640ljby4u80000001633931504897&qH=8cd1738f03867828" target="_blank"><img src="{% static 'images/food-pigeon.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/taiyo-turtle-food-premium-quality-100-grams-added-spirulina-0-1-kg-dry-adult-new-born-young/p/itma7ba0c7175dac?pid=PFDFTU2MYD7FE2UY&lid=LSTPFDFTU2MYD7FE2UYWCNWNY&marketplace=FLIPKART&q=animal+food&store=p3t&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=ca2e8d72-ed40-4e72-9950-db104754d1e4.PFDFTU2MYD7FE2UY.SEARCH&ppt=sp&ppn=sp&ssid=t7ouw31bls0000001633931551735&qH=ffd51481c46854f1" target="_blank"><img src="{% static 'images/food-turtle.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/purina-supercoat-puppy-dry-dog-food-chicken-2-kg-new-born/p/itma1597d4f8f94c?pid=PFDFJ3FVZU5PMSRK&lid=LSTPFDFJ3FVZU5PMSRK6NGRCJ&marketplace=FLIPKART&q=dog+food&store=p3t%2Fea3%2F8zj&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=en_6Q14qkq1KyK9CljQBxAjt4doA3Ea6yHr49q7AON5ftoIU6sqXiLBaI%2FwVhRfycWXc33267Qe8E3zLv%2BZPfa2pA%3D%3D&ppt=sp&ppn=sp&ssid=wrv67k5o8w0000001633931356934&qH=c53c2ce8b3bccaa1" target="_blank"><img src="{% static 'images/food-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/whiskas-kitten-2-12-months-fish-1-1-kg-dry-young-cat-food/p/itmc004f084c8458?pid=PFDEG58ZUAKS5DHE&lid=LSTPFDEG58ZUAKS5DHEZBFAO2&marketplace=GROCERY&q=cat+food&store=p3t%2F0mo%2Foiv&srno=s_1_3&otracker=search&otracker1=search&fm=SEARCH&iid=83564c88-1604-4994-a568-11597900bf59.PFDEG58ZUAKS5DHE.SEARCH&ppt=sp&ppn=sp&ssid=1wvtoh6ukw0000001633931480383&qH=1f38ae66827779c2" target="_blank"><img src="{% static 'images/food-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/smart-heart-adult-veggie-cereals-vegetable-1-kg-dry-adult-young-rabbit-food/p/itmcbc736a97acf4?pid=PFDG5W3ETXHEEWKN&lid=LSTPFDG5W3ETXHEEWKN9AVJUL&marketplace=FLIPKART&q=rabbit+food&store=p3t%2Fqxs%2Faog&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d3fa538b-e875-4594-b3cc-ff1940115116.PFDG5W3ETXHEEWKN.SEARCH&ppt=sp&ppn=sp&ssid=ob575xxoq80000001633931495129&qH=b0735ed36a660720" target="_blank"><img src="{% static 'images/food-rabbit.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/arokya-arokya-pigeon-breeding-mix-food-1kg-nuts-1-kg-dry-young-bird/p/itm60048b7787112?pid=PFDFXQXG6QPZ7MGZ&lid=LSTPFDFXQXG6QPZ7MGZRT5JTI&marketplace=FLIPKART&q=pigeon+food&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=7710214c-05ec-48f7-8f2a-d9b969cdba85.PFDFXQXG6QPZ7MGZ.SEARCH&ppt=sp&ppn=sp&ssid=640ljby4u80000001633931504897&qH=8cd1738f03867828" target="_blank"><img src="{% static 'images/food-pigeon.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/taiyo-turtle-food-premium-quality-100-grams-added-spirulina-0-1-kg-dry-adult-new-born-young/p/itma7ba0c7175dac?pid=PFDFTU2MYD7FE2UY&lid=LSTPFDFTU2MYD7FE2UYWCNWNY&marketplace=FLIPKART&q=animal+food&store=p3t&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=ca2e8d72-ed40-4e72-9950-db104754d1e4.PFDFTU2MYD7FE2UY.SEARCH&ppt=sp&ppn=sp&ssid=t7ouw31bls0000001633931551735&qH=ffd51481c46854f1" target="_blank"><img src="{% static 'images/food-turtle.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/purina-supercoat-puppy-dry-dog-food-chicken-2-kg-new-born/p/itma1597d4f8f94c?pid=PFDFJ3FVZU5PMSRK&lid=LSTPFDFJ3FVZU5PMSRK6NGRCJ&marketplace=FLIPKART&q=dog+food&store=p3t%2Fea3%2F8zj&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=en_6Q14qkq1KyK9CljQBxAjt4doA3Ea6yHr49q7AON5ftoIU6sqXiLBaI%2FwVhRfycWXc33267Qe8E3zLv%2BZPfa2pA%3D%3D&ppt=sp&ppn=sp&ssid=wrv67k5o8w0000001633931356934&qH=c53c2ce8b3bccaa1" target="_blank"><img src="{% static 'images/food-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/whiskas-kitten-2-12-months-fish-1-1-kg-dry-young-cat-food/p/itmc004f084c8458?pid=PFDEG58ZUAKS5DHE&lid=LSTPFDEG58ZUAKS5DHEZBFAO2&marketplace=GROCERY&q=cat+food&store=p3t%2F0mo%2Foiv&srno=s_1_3&otracker=search&otracker1=search&fm=SEARCH&iid=83564c88-1604-4994-a568-11597900bf59.PFDEG58ZUAKS5DHE.SEARCH&ppt=sp&ppn=sp&ssid=1wvtoh6ukw0000001633931480383&qH=1f38ae66827779c2" target="_blank"><img src="{% static 'images/food-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/smart-heart-adult-veggie-cereals-vegetable-1-kg-dry-adult-young-rabbit-food/p/itmcbc736a97acf4?pid=PFDG5W3ETXHEEWKN&lid=LSTPFDG5W3ETXHEEWKN9AVJUL&marketplace=FLIPKART&q=rabbit+food&store=p3t%2Fqxs%2Faog&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d3fa538b-e875-4594-b3cc-ff1940115116.PFDG5W3ETXHEEWKN.SEARCH&ppt=sp&ppn=sp&ssid=ob575xxoq80000001633931495129&qH=b0735ed36a660720" target="_blank"><img src="{% static 'images/food-rabbit.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/arokya-arokya-pigeon-breeding-mix-food-1kg-nuts-1-kg-dry-young-bird/p/itm60048b7787112?pid=PFDFXQXG6QPZ7MGZ&lid=LSTPFDFXQXG6QPZ7MGZRT5JTI&marketplace=FLIPKART&q=pigeon+food&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=7710214c-05ec-48f7-8f2a-d9b969cdba85.PFDFXQXG6QPZ7MGZ.SEARCH&ppt=sp&ppn=sp&ssid=640ljby4u80000001633931504897&qH=8cd1738f03867828" target="_blank"><img src="{% static 'images/food-pigeon.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/taiyo-turtle-food-premium-quality-100-grams-added-spirulina-0-1-kg-dry-adult-new-born-young/p/itma7ba0c7175dac?pid=PFDFTU2MYD7FE2UY&lid=LSTPFDFTU2MYD7FE2UYWCNWNY&marketplace=FLIPKART&q=animal+food&store=p3t&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=ca2e8d72-ed40-4e72-9950-db104754d1e4.PFDFTU2MYD7FE2UY.SEARCH&ppt=sp&ppn=sp&ssid=t7ouw31bls0000001633931551735&qH=ffd51481c46854f1" target="_blank"><img src="{% static 'images/food-turtle.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/purina-supercoat-puppy-dry-dog-food-chicken-2-kg-new-born/p/itma1597d4f8f94c?pid=PFDFJ3FVZU5PMSRK&lid=LSTPFDFJ3FVZU5PMSRK6NGRCJ&marketplace=FLIPKART&q=dog+food&store=p3t%2Fea3%2F8zj&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=en_6Q14qkq1KyK9CljQBxAjt4doA3Ea6yHr49q7AON5ftoIU6sqXiLBaI%2FwVhRfycWXc33267Qe8E3zLv%2BZPfa2pA%3D%3D&ppt=sp&ppn=sp&ssid=wrv67k5o8w0000001633931356934&qH=c53c2ce8b3bccaa1" target="_blank"><img src="{% static 'images/food-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/whiskas-kitten-2-12-months-fish-1-1-kg-dry-young-cat-food/p/itmc004f084c8458?pid=PFDEG58ZUAKS5DHE&lid=LSTPFDEG58ZUAKS5DHEZBFAO2&marketplace=GROCERY&q=cat+food&store=p3t%2F0mo%2Foiv&srno=s_1_3&otracker=search&otracker1=search&fm=SEARCH&iid=83564c88-1604-4994-a568-11597900bf59.PFDEG58ZUAKS5DHE.SEARCH&ppt=sp&ppn=sp&ssid=1wvtoh6ukw0000001633931480383&qH=1f38ae66827779c2" target="_blank"><img src="{% static 'images/food-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/smart-heart-adult-veggie-cereals-vegetable-1-kg-dry-adult-young-rabbit-food/p/itmcbc736a97acf4?pid=PFDG5W3ETXHEEWKN&lid=LSTPFDG5W3ETXHEEWKN9AVJUL&marketplace=FLIPKART&q=rabbit+food&store=p3t%2Fqxs%2Faog&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d3fa538b-e875-4594-b3cc-ff1940115116.PFDG5W3ETXHEEWKN.SEARCH&ppt=sp&ppn=sp&ssid=ob575xxoq80000001633931495129&qH=b0735ed36a660720" target="_blank"><img src="{% static 'images/food-rabbit.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/arokya-arokya-pigeon-breeding-mix-food-1kg-nuts-1-kg-dry-young-bird/p/itm60048b7787112?pid=PFDFXQXG6QPZ7MGZ&lid=LSTPFDFXQXG6QPZ7MGZRT5JTI&marketplace=FLIPKART&q=pigeon+food&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=7710214c-05ec-48f7-8f2a-d9b969cdba85.PFDFXQXG6QPZ7MGZ.SEARCH&ppt=sp&ppn=sp&ssid=640ljby4u80000001633931504897&qH=8cd1738f03867828" target="_blank"><img src="{% static 'images/food-pigeon.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/taiyo-turtle-food-premium-quality-100-grams-added-spirulina-0-1-kg-dry-adult-new-born-young/p/itma7ba0c7175dac?pid=PFDFTU2MYD7FE2UY&lid=LSTPFDFTU2MYD7FE2UYWCNWNY&marketplace=FLIPKART&q=animal+food&store=p3t&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=ca2e8d72-ed40-4e72-9950-db104754d1e4.PFDFTU2MYD7FE2UY.SEARCH&ppt=sp&ppn=sp&ssid=t7ouw31bls0000001633931551735&qH=ffd51481c46854f1" target="_blank"><img src="{% static 'images/food-turtle.jpeg' %}" alt="Animal Image" /></a>
          </div>
        </div>
      </section>
      <!-- pet section end -->


      <!-- Footer start -->
    <footer class="footer-section">
      <div class="footer-section-container">
        <div class="footer-section-aboutus">
          <h2>About us</h2>  
          <p>
            Pet Paradise is a startup by two engineering students dedicated for pet-lovers and animals so that we can connect them to each other and both get their deserved ones. 
          </p>
          <ul class="footer-section-socials">
           <li><a target="_blank" href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> 
           <li><a target="_blank" href="/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
           <li><a target="_blank" href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> 
           <li><a target="_blank" href="/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> 
           <li><a target="_blank" href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>    
         </ul>
        </div>
        <div class="footer-section-contact">
          <h2>Contact Info</h2>
          <ul class="footer-section-contact-info">
          <li>
            <span>
             <i class="fa fa-map-marker" aria-hidden="true"></i>   
            </span> 
            <span>
                Pet Paradise Headquarters<br> Shivaji nagar Street,<br> Ulsoor(E), Bangalore-560 007
            </span> 
          </li>
          <li>
            <span><i class="fa fa-phone" aria-hidden="true"></i></span>    
            <p><a href="tel:9892662688">9892662688</p>   
          </li>
          <li>
            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <p><a href="mailto:support@petparadise.com">support@petparadise.com</a></p>
          </li>
          </ul>
        </div>
      </div>
      <div class="copyrighttext">
        <p>©2021, All Rights Reserved by Pet Paradise</p>  
      </div>  
    </footer>
    <!-- Footer end -->
    </div>
    
  </body>
</html>
