{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>Home Page</title>
    <style>
      body {
        background: url(../static/images/body.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <!-- Navigation Bar Start -->
    <section class="section-navbar">
      <nav>
        <div class="logo">
          <a href="/"
            ><img src="{% static 'images/PetParadise.svg' %}" alt="Logo Image"
          /></a>
        </div>
        <div class="navbar">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Care</a></li>
            <li><a href="#">Sign in</a></li>
            <li><a href="#">Sign up</a></li>
          </ul>
        </div>
      </nav>
    </section>
    <!-- Navigation Bar End -->

    <div class="main-content">
      <!-- Header Start -->
      <section class="section-header">
        <div class="header">
          <div class="header-details">
            <h1><span>Find your </span>new<br /><span>pet.</span></h1>
            <p>
              We help you find a pet that gives you lots of love and chat with
              professional doctors for pet-related problems.
            </p>
            <div class="header-buttons">
              <a href="#pet-section"><button>Adopt a pet</button></a>
              <a href="/"><button>Chat</button></a>
            </div>
          </div>
          <div class="header-image">
            <img src="{% static 'images/animal-bg.svg' %}" alt="Animal Image" />
          </div>
        </div>
      </section>
      <!-- Header End -->

      <!-- Section info start -->
      <section class="section-info">
        <div class="section-info-details">
          <div class="details-first">
            <h1><span>1500+</span> Total pets adopted</h1>
            <div class="section-image">
              <img
                src="{% static 'images/graphic-1.svg' %}"
                alt="First Image"
              />
            </div>
          </div>
          <div class="details-second">
            <h1><span>700+</span>Available pets which need your love</h1>
            <div class="section-image">
              <img
                src="{% static 'images/graphic-2.svg' %}"
                alt="Second Image"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- Section info end -->

      <!-- pet section start -->
      <section class="pet-section" id="pet-section">
        <div class="pet-section-details">
          <div class="pet-section-title">
            <h1>Want to adopt a pet available near you?</h1>
          </div>
          <div class="pet-section-image">
            <img src="{% static 'images/animal-1.png' %}" alt="Animal Image" />
            <img src="{% static 'images/animal-2.png' %}" alt="Animal Image" />
            <img src="{% static 'images/animal-3.png' %}" alt="Animal Image" />
            <img src="{% static 'images/animal-4.png' %}" alt="Animal Image" />
          </div>
          <div class="pet-section-btn">
            <h3>know more..</h3>
            <a href="/"><i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </section>
      <!-- pet section end -->
    </div>
  </body>
</html>
