{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'images/PetParadise.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="{% static 'images/PetParadise.svg' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/care.css' %}" />
    <title></title>
    <style>
      body {
        background: url(../static/images/body-1.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <!-- Navigation Bar Start -->
    <section class="section-navbar">
      <nav>
        <div class="logo">
          <a href="/"
            ><img src="{% static 'images/PetParadise.svg' %}" alt="Logo Image"
          /></a>
        </div>
        <div class="navbar">
          <ul>
            {% if user.is_authenticated %}
            <li><a href="" class="no-hover">Hi, {{user.username}}</a></li>
            {% endif %}
            <li><a href="/">Home🏠</a></li>
            <li><a href="/explore">Explore🤯</a></li>
            <li>
              <a href="/care">Care😇</a>
            </li>
            {% if user.is_authenticated %}
            <li><a href="/">Dashboard</a></li>
            <li><a href="/logout">Logout❕</a></li>
            {% else %}
            <li><a href="/ownersignin">Pet-Owner😎</a></li>
            <li><a href="/doctorsignin">Pet-Doctor🥼</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </section>
    <!-- Navigation Bar End -->

    <div class="main-content">

      <!-- pet section start -->
      <section class="medicine-section" id="medicine-section">
        <div class="medicine-section-details">
          <div class="medicine-section-title">
            <h1>Medicine💊</h1>
          </div>
          <div class="medicine-section-image">
            <a href="https://www.flipkart.com/pet-care-worm-trap-p-oral-suspension-puppies-15ml-pack-2-first-aid-kit/p/itmfgc5kheedygdz?pid=PAIFGBPEGHTHNTER&lid=LSTPAIFGBPEGHTHNTERKUC1IC&marketplace=FLIPKART&q=dog+medicine&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=d6ec1ce9-ed83-4d03-a2a9-e2aae3b90484.PAIFGBPEGHTHNTER.SEARCH&ppt=sp&ppn=sp&ssid=s3orbtr5v40000001633932711043&qH=0ff59db0da431e95" target="_blank"><img src="{% static 'images/medicine-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/pet-care-worm-trap-p-oral-suspension-puppies-15ml-pack-2-first-aid-kit/p/itmfgc5kheedygdz?pid=PAIFGBPEGHTHNTER&lid=LSTPAIFGBPEGHTHNTERKUC1IC&marketplace=FLIPKART&q=dog+medicine&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=d6ec1ce9-ed83-4d03-a2a9-e2aae3b90484.PAIFGBPEGHTHNTER.SEARCH&ppt=sp&ppn=sp&ssid=s3orbtr5v40000001633932711043&qH=0ff59db0da431e95" target="_blank"><img src="{% static 'images/medicine-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/venky-s-kc-guard-antiseptic-anti-itchspray-enriched-vitamin-e-lemongrass-fragrance-100-ml-pet-first-aid-kit/p/itm8d9ae27c98cf7?pid=PAIFZWVV884RN8AH&lid=LSTPAIFZWVV884RN8AHY9O6HF&marketplace=FLIPKART&q=dog+medicine&store=search.flipkart.com&srno=s_1_4&otracker=search&otracker1=search&fm=SEARCH&iid=d6ec1ce9-ed83-4d03-a2a9-e2aae3b90484.PAIFZWVV884RN8AH.SEARCH&ppt=sp&ppn=sp&ssid=s3orbtr5v40000001633932711043&qH=0ff59db0da431e95" target="_blank"><img src="{% static 'images/medicine-dog-1.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/vetoquinol-dermichlor-medicated-topical-spray-100ml-dogs-puppies-cats-pet-first-aid-kit/p/itmeefc8d3a612b3?pid=PAIFYTQATY2BQEXC&lid=LSTPAIFYTQATY2BQEXC1YQ93A&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIFYTQATY2BQEXC.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/homeonest-pyrosule-pets-30ml-dogs-cats-case-hypo-hyperthermia-maintain-normal-body-temperature-exposed-excess-cold-heat-suddenly-pet-first-aid-kit/p/itm048dc5547f723?pid=PAIG7J9DAZ7RJMMK&lid=LSTPAIG7J9DAZ7RJMMKTH8K8V&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIG7J9DAZ7RJMMK.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-dog-2.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/refit-animal-care-poultry-growth-promoter-medicine-supplement-pet-health-supplements/p/itm3edce8e792c31?pid=PHSG48BGMPXU855N&lid=LSTPHSG48BGMPXU855N1GSWF7&marketplace=FLIPKART&q=animal+medicine&store=p3t%2Foci%2Fpcb&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&fm=SEARCH&iid=27410262-6e0f-46ec-ab4f-86f9c2ed90b9.PHSG48BGMPXU855N.SEARCH&ppt=sp&ppn=sp&ssid=59lso78zj40000001633932998361&qH=8751e21ec45bcc50" target="_blank"><img src="{% static 'images/medicine-hen.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/vetoquinol-dermichlor-medicated-topical-spray-100ml-dogs-puppies-cats-pet-first-aid-kit/p/itmeefc8d3a612b3?pid=PAIFYTQATY2BQEXC&lid=LSTPAIFYTQATY2BQEXC1YQ93A&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIFYTQATY2BQEXC.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/homeonest-pyrosule-pets-30ml-dogs-cats-case-hypo-hyperthermia-maintain-normal-body-temperature-exposed-excess-cold-heat-suddenly-pet-first-aid-kit/p/itm048dc5547f723?pid=PAIG7J9DAZ7RJMMK&lid=LSTPAIG7J9DAZ7RJMMKTH8K8V&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIG7J9DAZ7RJMMK.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-dog-2.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/refit-animal-care-poultry-growth-promoter-medicine-supplement-pet-health-supplements/p/itm3edce8e792c31?pid=PHSG48BGMPXU855N&lid=LSTPHSG48BGMPXU855N1GSWF7&marketplace=FLIPKART&q=animal+medicine&store=p3t%2Foci%2Fpcb&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&fm=SEARCH&iid=27410262-6e0f-46ec-ab4f-86f9c2ed90b9.PHSG48BGMPXU855N.SEARCH&ppt=sp&ppn=sp&ssid=59lso78zj40000001633932998361&qH=8751e21ec45bcc50" target="_blank"><img src="{% static 'images/medicine-hen.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/vetoquinol-dermichlor-medicated-topical-spray-100ml-dogs-puppies-cats-pet-first-aid-kit/p/itmeefc8d3a612b3?pid=PAIFYTQATY2BQEXC&lid=LSTPAIFYTQATY2BQEXC1YQ93A&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIFYTQATY2BQEXC.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/homeonest-pyrosule-pets-30ml-dogs-cats-case-hypo-hyperthermia-maintain-normal-body-temperature-exposed-excess-cold-heat-suddenly-pet-first-aid-kit/p/itm048dc5547f723?pid=PAIG7J9DAZ7RJMMK&lid=LSTPAIG7J9DAZ7RJMMKTH8K8V&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIG7J9DAZ7RJMMK.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-dog-2.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/refit-animal-care-poultry-growth-promoter-medicine-supplement-pet-health-supplements/p/itm3edce8e792c31?pid=PHSG48BGMPXU855N&lid=LSTPHSG48BGMPXU855N1GSWF7&marketplace=FLIPKART&q=animal+medicine&store=p3t%2Foci%2Fpcb&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&fm=SEARCH&iid=27410262-6e0f-46ec-ab4f-86f9c2ed90b9.PHSG48BGMPXU855N.SEARCH&ppt=sp&ppn=sp&ssid=59lso78zj40000001633932998361&qH=8751e21ec45bcc50" target="_blank"><img src="{% static 'images/medicine-hen.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/pet-care-worm-trap-p-oral-suspension-puppies-15ml-pack-2-first-aid-kit/p/itmfgc5kheedygdz?pid=PAIFGBPEGHTHNTER&lid=LSTPAIFGBPEGHTHNTERKUC1IC&marketplace=FLIPKART&q=dog+medicine&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=d6ec1ce9-ed83-4d03-a2a9-e2aae3b90484.PAIFGBPEGHTHNTER.SEARCH&ppt=sp&ppn=sp&ssid=s3orbtr5v40000001633932711043&qH=0ff59db0da431e95" target="_blank"><img src="{% static 'images/medicine-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/pet-care-worm-trap-p-oral-suspension-puppies-15ml-pack-2-first-aid-kit/p/itmfgc5kheedygdz?pid=PAIFGBPEGHTHNTER&lid=LSTPAIFGBPEGHTHNTERKUC1IC&marketplace=FLIPKART&q=dog+medicine&store=search.flipkart.com&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=d6ec1ce9-ed83-4d03-a2a9-e2aae3b90484.PAIFGBPEGHTHNTER.SEARCH&ppt=sp&ppn=sp&ssid=s3orbtr5v40000001633932711043&qH=0ff59db0da431e95" target="_blank"><img src="{% static 'images/medicine-dog.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/venky-s-kc-guard-antiseptic-anti-itchspray-enriched-vitamin-e-lemongrass-fragrance-100-ml-pet-first-aid-kit/p/itm8d9ae27c98cf7?pid=PAIFZWVV884RN8AH&lid=LSTPAIFZWVV884RN8AHY9O6HF&marketplace=FLIPKART&q=dog+medicine&store=search.flipkart.com&srno=s_1_4&otracker=search&otracker1=search&fm=SEARCH&iid=d6ec1ce9-ed83-4d03-a2a9-e2aae3b90484.PAIFZWVV884RN8AH.SEARCH&ppt=sp&ppn=sp&ssid=s3orbtr5v40000001633932711043&qH=0ff59db0da431e95" target="_blank"><img src="{% static 'images/medicine-dog-1.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/vetoquinol-dermichlor-medicated-topical-spray-100ml-dogs-puppies-cats-pet-first-aid-kit/p/itmeefc8d3a612b3?pid=PAIFYTQATY2BQEXC&lid=LSTPAIFYTQATY2BQEXC1YQ93A&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIFYTQATY2BQEXC.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/homeonest-pyrosule-pets-30ml-dogs-cats-case-hypo-hyperthermia-maintain-normal-body-temperature-exposed-excess-cold-heat-suddenly-pet-first-aid-kit/p/itm048dc5547f723?pid=PAIG7J9DAZ7RJMMK&lid=LSTPAIG7J9DAZ7RJMMKTH8K8V&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIG7J9DAZ7RJMMK.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-dog-2.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/refit-animal-care-poultry-growth-promoter-medicine-supplement-pet-health-supplements/p/itm3edce8e792c31?pid=PHSG48BGMPXU855N&lid=LSTPHSG48BGMPXU855N1GSWF7&marketplace=FLIPKART&q=animal+medicine&store=p3t%2Foci%2Fpcb&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&fm=SEARCH&iid=27410262-6e0f-46ec-ab4f-86f9c2ed90b9.PHSG48BGMPXU855N.SEARCH&ppt=sp&ppn=sp&ssid=59lso78zj40000001633932998361&qH=8751e21ec45bcc50" target="_blank"><img src="{% static 'images/medicine-hen.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/vetoquinol-dermichlor-medicated-topical-spray-100ml-dogs-puppies-cats-pet-first-aid-kit/p/itmeefc8d3a612b3?pid=PAIFYTQATY2BQEXC&lid=LSTPAIFYTQATY2BQEXC1YQ93A&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIFYTQATY2BQEXC.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/homeonest-pyrosule-pets-30ml-dogs-cats-case-hypo-hyperthermia-maintain-normal-body-temperature-exposed-excess-cold-heat-suddenly-pet-first-aid-kit/p/itm048dc5547f723?pid=PAIG7J9DAZ7RJMMK&lid=LSTPAIG7J9DAZ7RJMMKTH8K8V&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIG7J9DAZ7RJMMK.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-dog-2.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/refit-animal-care-poultry-growth-promoter-medicine-supplement-pet-health-supplements/p/itm3edce8e792c31?pid=PHSG48BGMPXU855N&lid=LSTPHSG48BGMPXU855N1GSWF7&marketplace=FLIPKART&q=animal+medicine&store=p3t%2Foci%2Fpcb&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&fm=SEARCH&iid=27410262-6e0f-46ec-ab4f-86f9c2ed90b9.PHSG48BGMPXU855N.SEARCH&ppt=sp&ppn=sp&ssid=59lso78zj40000001633932998361&qH=8751e21ec45bcc50" target="_blank"><img src="{% static 'images/medicine-hen.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/vetoquinol-dermichlor-medicated-topical-spray-100ml-dogs-puppies-cats-pet-first-aid-kit/p/itmeefc8d3a612b3?pid=PAIFYTQATY2BQEXC&lid=LSTPAIFYTQATY2BQEXC1YQ93A&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIFYTQATY2BQEXC.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-cat.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/homeonest-pyrosule-pets-30ml-dogs-cats-case-hypo-hyperthermia-maintain-normal-body-temperature-exposed-excess-cold-heat-suddenly-pet-first-aid-kit/p/itm048dc5547f723?pid=PAIG7J9DAZ7RJMMK&lid=LSTPAIG7J9DAZ7RJMMKTH8K8V&marketplace=FLIPKART&q=cat+medicine&store=p3t%2Fcez%2Fw4e&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_12_na_na_ps&fm=SEARCH&iid=91a1adf0-02b0-4a2f-af9f-7da7bea22e67.PAIG7J9DAZ7RJMMK.SEARCH&ppt=sp&ppn=sp&ssid=124gqcary80000001633932854449&qH=c7480d54a70a7c78" target="_blank"><img src="{% static 'images/medicine-dog-2.jpeg' %}" alt="Animal Image" /></a>
            <a href="https://www.flipkart.com/refit-animal-care-poultry-growth-promoter-medicine-supplement-pet-health-supplements/p/itm3edce8e792c31?pid=PHSG48BGMPXU855N&lid=LSTPHSG48BGMPXU855N1GSWF7&marketplace=FLIPKART&q=animal+medicine&store=p3t%2Foci%2Fpcb&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_4_15_na_na_na&fm=SEARCH&iid=27410262-6e0f-46ec-ab4f-86f9c2ed90b9.PHSG48BGMPXU855N.SEARCH&ppt=sp&ppn=sp&ssid=59lso78zj40000001633932998361&qH=8751e21ec45bcc50" target="_blank"><img src="{% static 'images/medicine-hen.jpeg' %}" alt="Animal Image" /></a>
          </div>
        </div>
      </section>
      <!-- pet section end -->


      <!-- Footer start -->
    <footer class="footer-section">
      <div class="footer-section-container">
        <div class="footer-section-aboutus">
          <h2>About us</h2>  
          <p>
            Pet Paradise is a startup by two engineering students dedicated for pet-lovers and animals so that we can connect them to each other and both get their deserved ones. 
          </p>
          <ul class="footer-section-socials">
           <li><a target="_blank" href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> 
           <li><a target="_blank" href="/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
           <li><a target="_blank" href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> 
           <li><a target="_blank" href="/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> 
           <li><a target="_blank" href="/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>    
         </ul>
        </div>
        <div class="footer-section-contact">
          <h2>Contact Info</h2>
          <ul class="footer-section-contact-info">
          <li>
            <span>
             <i class="fa fa-map-marker" aria-hidden="true"></i>   
            </span> 
            <span>
                Pet Paradise Headquarters<br> Shivaji nagar Street,<br> Ulsoor(E), Bangalore-560 007
            </span> 
          </li>
          <li>
            <span><i class="fa fa-phone" aria-hidden="true"></i></span>    
            <p><a href="tel:9892662688">9892662688</p>   
          </li>
          <li>
            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <p><a href="mailto:support@petparadise.com">support@petparadise.com</a></p>
          </li>
          </ul>
        </div>
      </div>
      <div class="copyrighttext">
        <p>©2021, All Rights Reserved by Pet Paradise</p>  
      </div>  
    </footer>
    <!-- Footer end -->
    </div>
    
  </body>
</html>
