@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
/* Global Styling */
:root {
  --main-color: #3071e7;
  --main-dark-color: #080c25;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* Navbar Styling */

.section-navbar {
  background-color: transparent;
  width: 100%;
  height: 130px;
  position: fixed;
  padding: 20px;
  z-index: 999;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

nav .logo img {
  width: 70px;
}

nav .navbar {
  position: absolute;
  text-align: center;
  width: 100%;
}

nav .navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

nav .navbar ul li {
  font-size: 20px;
  font-weight: 400;
  padding: 0 35px;
}

nav .navbar ul li a {
  transition: all 0.3s ease;
}

nav .navbar ul li a:hover {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}

nav .navbar ul li a {
  color: var(--main-dark-color);
}

/* Header Styling */

.main-content {
  margin: 20px 0;
  position: absolute;
  padding: 20px;
  top: 120px;
  background-color: transparent;
}

.section-header {
  width: 100%;
}

.section-header .header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
/* 
.section-header .header .header-details {
} */

.section-header .header .header-image img {
  width: 850px;
}

.section-header .header .header-details h1 {
  color: var(--main-color);
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 40px;
}

.section-header .header .header-details h1 span {
  color: #fff;
}

.section-header .header .header-details p {
  margin: 15px 0;
  font-size: 25px;
  font-weight: 500;
  color: var(--main-dark-color);
}

.section-header .header .header-details .header-buttons {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.section-header .header .header-details .header-buttons button {
  height: 60px;
  width: 220px;
  text-align: center;
  border-radius: 60px;
  border: none;
  margin-right: 60px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.section-header .header .header-details .header-buttons button:hover {
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: var(--main-color);
}

/* Section info Styling */

.section-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 10px rgba(172, 132, 132, 0.3);
  margin-top: 50px;
}

.section-info-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  flex: 0 0 100%;
  max-width: 100%;
}

.section-info-details .details-first,
.section-info-details .details-second {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
}

.section-info-details .details-first h1,
.section-info-details .details-second h1 {
  font-size: 30px;
  font-weight: 500;
}

.section-info-details .details-first h1 span,
.section-info-details .details-second h1 span {
  font-size: 50px;
  color: #fff;
  margin-right: 10px;
  text-shadow: 3px 3px 10px #000;
}

.section-info-details .section-image img {
  height: 300px;
  width: 600px;
}
